@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-image: linear-gradient(45deg, #003cff, #8fd4ff);
}
.css-1l8j5k8 {
  background-image: linear-gradient(45deg, #003cff, #8fd4ff);
}

.css-10hburv-MuiTypography-root {
  font-weight: 700;
  color: #fff;
  /* height: "30rem",
              overflowY: "auto",
              color: "white",
              fontFamily: "Roboto, sans-serif",
              fontWeight: 10000, */
}

.css-yb0lig {
  color: #fff;
  font-family: Roboto sans-serif;
}

.css-9zxti7 .MuiDrawer-paper {
  font-weight: 1000;
}
